*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #121212;

}

.container{
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9) ), url(images/3d-cartoon-character-djing-party.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  
}


#logo {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 50px;
    z-index: 1000;
}
.menu{
     position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.menu i{
    color: #fff;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

#menu-bar{
    margin-bottom: 50px;
}

.container-box{
    display: flex;
}

#vertical-text{
     font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    transform: rotate(270deg);
     margin-left: -150px;
    margin-right: -220px;
    margin-top: 60px;
}

.album-cover{
    display: flex;
    left:25%;
    margin-top: 200px;
    position: absolute;
}

#cover-img{
    width: 250px;
    height: 300px;
}

.album-cover h1{
    padding: 20px 0 0 40px;
    margin-top: 5px;
    color: #fff;
    font-size: 50px;
   font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
  
}

.album-cover h2{
    padding: 10px 0 0 40px;
    font-family: 'Courier New', Courier, monospace;
    color: #c2bfbf;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}


.profile{
  margin-left: 30px;
  margin-top: 20px;
}

.profile img{
  margin-left: 20px;
   width: 90px;
  height: 90px;
  border-radius: 50%;
}

#play-resume-btn{
    background-color: rgb(255, 138, 173);
    width: 180px;
    height: 40px;
    border: none;
    font-family: sans-serif;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0 0 40px;
}

#btn-2{
    background-color: transparent;
    border: 1px solid #fdfdfd;
    width: 180px;
    height: 40px;
    font-family: sans-serif;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0 0 40px;
}

#play-resume-btn:hover{
background-color: #fdfdfd;
color: #000;
cursor: pointer;
} 

#btn-2:hover{
background-color: #fdfdfd;
color: #000;
cursor: pointer;
} 


.streaming-platforms {
    display: flex;
    color: #FFF;
    border: 1px solid #fff;
    width: 450px;
    margin: 30px;
    margin-left: 200px;
}

.streaming-platforms i{
    height: 100%;
    color: #FFF;
    border-left: 1px solid #fff;
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 30px;
    cursor: pointer;
}

#track-header {
     padding: 60px 0 0 40px;
    font-family: sans-serif;
    color: #fff;
    font-size: 37px;
    font-weight: 600;
     margin-left: 160px;
     letter-spacing: 5px;
}

#track-list-header{
    padding: 20px 0 0 40px;
    font-family: sans-serif;
    color: #fff;
    font-size: 37px;
    font-weight: 600;
     margin-left: 160px;
     letter-spacing: 5px;
}




track {
            display: flex;
            align-items: center;
            padding: 110px;
            border-bottom: 1px solid #eee;
            transition: background-color 0.2s;
        }
       
      
        .track-info {
    margin-top: 50px;
    padding-left: 150px;
    font-family: "Fugaz One";
     color: #e0e0e0;
    font-size: 15px;
    font-weight: 400;
    margin-left: 70px;
    letter-spacing: 2px;
        }
     
.track-info i{
    float: right;
    margin-right: 255px;
    cursor: pointer;
}


        audio {
    width: 70%;
    height: 60px;
    margin-left: 200px;


}

audio::-webkit-media-controls-enclosure {
background-color: #121212;
  border: none;
}


audio::-webkit-media-controls-panel {
background-color: #121212;

  
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-time-remaining-display {
  filter: invert(1); /* white icons */
}





#album-list-h1{
    text-align: center;
    padding: 60px 0 0 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: #fdfdfd;
    font-size: 30px;
  
    letter-spacing: 5px;
    text-transform: capitalize;
}

.album-list {
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap; 
}

.album {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column; 

}

.album img {
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100px;
    height: auto;
    transition: 200ms;
}

.album img:hover{
    transform: translateY(5px);
}

.album h5 {
    margin-top: 5px;
    color: #c2bfbf; 
    letter-spacing: 1px;
}

.album h3{

    color: #c2bfbf;
    font-weight: 200;
    font-size: 15px;
}


.line-1{
    position: relative;
    left: 15%;
    border-bottom: 2px solid #747474;
    width: 70%;
}


.contact-info{
    margin-top: 50px;
    margin-bottom: 50px;
   display: flex; /* Lay albums in a row */
    gap: 20px;     /* Space between album blocks */
    justify-content: center;
    flex-wrap: wrap; /* Optional: allow wrapping on small screens */
}

.contact-links{
   display: flex;
    flex-direction: column;
}

.contact-links a{
    padding: 10px 50px 0px 0px;
    text-decoration: none;
    font-family: sans-serif;
      color: #c2bfbf;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.terms{
     display: flex;
    flex-direction: column;
}

.terms a{
    padding: 10px 50px 0px 0px;
    text-decoration: none;
    font-family: sans-serif;
       color: #c2bfbf;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contact-form h3{
    padding: 10px 50px 0px 0px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: capitalize;
       color: #c2bfbf;
}

.contact-form p{
    padding-top: 10px;
    color: #c2bfbf;
    font-family: sans-serif;

}

.input-field {
  border: #121212;
  color: #eee;
  font-size: 15px;
  width: 50%;
  height: 40px;
  background: transparent;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding-inline: 20px;
  outline: none;
}

footer{
    display: flex;
    flex-direction: row;
     margin-top: 50px;
    margin-bottom: 50px;
   display: flex;
    gap: 20px;   
    justify-content: center;
    flex-wrap: wrap; 
}

footer p{
    padding-right: 50px;
    font-family: sans-serif;
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.icons{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.icons i{
    padding: 0px 0px  30px 30px ;
}

#js-icon{
    float: right;
}

/* Responsive Design for Tablets and Smaller Screens */
@media (max-width: 1024px) {
  .album-cover {
    position: absolute;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #vertical-text {
   display: none;
  }

  #cover-img {
    width: 200px;
    height: 250px;
  }

  .album-cover h1 {
    font-size: 36px;
    text-align: center;
    padding: 20px 0 0 0;
  }

  .album-cover h2 {
    font-size: 20px;
    text-align: center;
    padding: 10px 0 0 0;
  }

  .streaming-platforms {
    width: 40%;
    flex-direction: row;
    margin-left: 250px;
  }

  .streaming-platforms i {
    padding: 15px 0;
    border-left: none;
    text-align: center;
    border-left: 1px solid #fff;
  }

  #track-list-header{
    margin-left: 250px;
  }

  .track-info {
    padding-left: 70px;
    margin-left: 0;
  }

  audio {
    width: 90%;
    margin-left: 5%;
  }
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
  .menu {
    top: 20px;
    right: 5px;
  }

  #logo {
    top: 20px;
    left: 20px;
    width: 40px;
  }



  #vertical-text {
    display: none;
  }


  #album-list-h1{
width: 80%;
font-size: 20px;
  }

.container-box{
  position: absolute;
  margin-left: 50px;
}

  .album-cover {
    margin-top: 150px;
    margin-right: 150px;
  }

.profile{
    display: flex;
    margin-right: 50px
  }

  #cover-img {
    width: 150px;
    height: 180px;
  }

  .album-cover h1 {
    font-size: 28px;
  }

  .album-cover h2 {
    font-size: 18px;
  }

  #play-resume-btn,
  #btn-2 {
    width: 140px;
    margin: 10px auto;
    display: block;
    text-align: center;
  }

  .streaming-platforms {
    flex-direction: row;
    width: 70%;
    margin: 20px 0  0 20px ;
  }

  .streaming-platforms i {
    border-left: 1px solid #FFF;
    padding-left: 0;
    text-align: center;
  }

  #track-header,
  #track-list-header {
    font-size: 24px;
    margin-left: 20px;
    padding-left: 0;
  }

  .track-info {
    font-size: 13px;
    padding-left: 20px;
  }

  audio {
    width: 90%;
    margin-left: 0;
  }

  .album-list-h1{
    width: 50%;
  }
  .album-list{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  .input-field {
    margin-left: 50px
  }

 .contact-info{
    margin-top: 10px;
    margin-bottom: 10px;
   display: flex; /* Lay albums in a row */

}

.contact-info p{
 margin-left: 70px;
}

.contact-links{
  text-align: center;
  width: 50%;
   display: flex;
    flex-direction: column;
}

.contact-form h3{
  text-align: center;
  margin: 5px;
}

.terms{
  text-align: center;
  width: 50%;
     display: flex;
    flex-direction: column;
}

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer p {
    padding: 10px ;
  }
}

